In [2]:
import pandas as pd
data = pd.read_csv('data/mtcars.csv')
print(data)

             Unnamed: 0   mpg   cyl   disp   hp  drat     wt    qsec  vs  \
0             Mazda RX4  21.0   6.0  160.0  110  3.90  2.620   16.46   0
1         Mazda RX4 Wag  21.0   6.0  160.0  110  3.90  2.875   17.02   0
2            Datsun 710  22.8   4.0  108.0   93  3.85  2.320   18.61   1
3        Hornet 4 Drive  21.4   6.0  258.0  110  3.08  3.215    0.10   1
4     Hornet Sportabout  18.7   8.0  360.0  175  3.15  3.440   17.02   0
5               Valiant  18.1   6.0  225.0  105  2.76  3.460   20.22   1
6            Duster 360  14.3   8.0  360.0  245  3.21  3.570   15.84   0
7             Merc 240D  24.4   NaN  146.7   62  3.69  3.190   20.00   1
8              Merc 230  22.8   4.0  140.8   95  3.92  3.150   22.90   1
9              Merc 280  19.2   6.0  167.6  123  3.92  3.440   18.30   1
10            Merc 280C  17.8   6.0  167.6  123  3.92  3.440     NaN   1
11           Merc 450SE  16.4   8.0  275.8  180  3.07  4.070   17.40   0
12           Merc 450SL  17.3   8.0  275.8  180  3.07  3.730   17.60   0
13          Merc 450SLC  15.2   8.0  275.8  180  3.07  3.780   18.00   0
14   Cadillac Fleetwood  10.4  50.0  472.0  205  2.93  5.250   17.98   0
15  Lincoln Continental  10.4   8.0  460.0  215  3.00  5.424   17.82   0
16    Chrysler Imperial  14.7   8.0  440.0  230  3.23  5.345   17.42   0
17             Fiat 128  32.4   4.0   78.7   66  4.08  2.200   19.47   1
18          Honda Civic  30.4   4.0   75.7   52  4.93  1.615   18.52   1
19       Toyota Corolla  33.9   4.0   71.1   65  4.22  1.835   19.90   1
20        Toyota Corona  21.5   4.0  120.1   97  3.70  2.465   20.01   1
21     Dodge Challenger  15.5   8.0  318.0  150  2.76  3.520   16.87   0
22          AMC Javelin  15.2   8.0  304.0  150  3.15  3.435   17.30   0
23           Camaro Z28  13.3   8.0  350.0  245  3.73  3.840   15.41   0
24     Pontiac Firebird  19.2   NaN  400.0  175  3.08  3.845  100.00   0
25            Fiat X1-9  27.3   4.0   79.0   66  4.08  1.935   18.90   1
26        Porsche 914-2  26.0   4.0  120.3   91  4.43  2.140   16.70   0
27         Lotus Europa  30.4   4.0   95.1  113  3.77  1.513   16.90   1
28       Ford Pantera L  15.8   8.0  351.0  264  4.22  3.170   14.50   0
29         Ferrari Dino  19.7   6.0  145.0  175  3.62  2.770   15.50   0
30        Maserati Bora  15.0   8.0  301.0  335  3.54  3.570   14.60   0
31           Volvo 142E  21.4   4.0  121.0  109  4.11  2.780   18.60   1

        am gear  carb
0   manual    4     4
1   manual    4     4
2   manual    4     1
3     auto    3     1
4     auto    3     2
5     auto    3     1
6     auto    3     4
7     auto    4     2
8     auto    4     2
9     auto    4     4
10    auto    4     4
11    auto    3     3
12    auto   *3     3
13    auto    3     3
14    auto    3     4
15    auto    3     4
16    auto    3     4
17  manual    4     1
18  manual    4     2
19  manual    4     1
20    auto    3     1
21    auto    3     2
22    auto    3     2
23    auto    3     4
24    auto    3     2
25  manual    4     1
26  manual    5     2
27  manual    5     2
28  manual   *5     4
29  manual    5     6
30  manual    5     8
31  manual    4     2

In [4]:
print(data.head())

          Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs      am  \
0          Mazda RX4  21.0  6.0  160.0  110  3.90  2.620  16.46   0  manual
1      Mazda RX4 Wag  21.0  6.0  160.0  110  3.90  2.875  17.02   0  manual
2         Datsun 710  22.8  4.0  108.0   93  3.85  2.320  18.61   1  manual
3     Hornet 4 Drive  21.4  6.0  258.0  110  3.08  3.215   0.10   1    auto
4  Hornet Sportabout  18.7  8.0  360.0  175  3.15  3.440  17.02   0    auto

  gear  carb
0    4     4
1    4     4
2    4     1
3    3     1
4    3     2

In [5]:
print(data.shape)

(32, 12)

In [8]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [9]:
print(data.columns)

Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [10]:
print(data.describe())

             mpg        cyl        disp          hp       drat         wt  \
count  32.000000  30.000000   32.000000   32.000000  32.000000  32.000000
mean   20.090625   7.600000  230.721875  146.687500   3.596563   3.217250
std     6.026948   8.194195  123.938694   68.562868   0.534679   0.978457
min    10.400000   4.000000   71.100000   52.000000   2.760000   1.513000
25%    15.425000   4.000000  120.825000   96.500000   3.080000   2.581250
50%    19.200000   6.000000  196.300000  123.000000   3.695000   3.325000
75%    22.800000   8.000000  326.000000  180.000000   3.920000   3.610000
max    33.900000  50.000000  472.000000  335.000000   4.930000   5.424000

             qsec         vs     carb
count   31.000000  32.000000  32.0000
mean    19.866774   0.437500   2.8125
std     15.310469   0.504016   1.6152
min      0.100000   0.000000   1.0000
25%     16.785000   0.000000   2.0000
50%     17.600000   0.000000   2.0000
75%     18.755000   1.000000   4.0000
max    100.000000   1.000000   8.0000

In [11]:
print(data['hp'].describe())

count     32.000000
mean     146.687500
std       68.562868
min       52.000000
25%       96.500000
50%      123.000000
75%      180.000000
max      335.000000
Name: hp, dtype: float64

In [12]:
print(data['am'].unique())

['manual' 'auto']

In [13]:
print(data['gear'].unique())

['4' '3' '*3' '5' '*5']

In [14]:
data['vs'].unique()

array([0, 1], dtype=int64)

In [15]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
Unnamed: 0    32 non-null object
mpg           32 non-null float64
cyl           30 non-null float64
disp          32 non-null float64
hp            32 non-null int64
drat          32 non-null float64
wt            32 non-null float64
qsec          31 non-null float64
vs            32 non-null int64
am            32 non-null object
gear          32 non-null object
carb          32 non-null int64
dtypes: float64(6), int64(3), object(3)
memory usage: 3.1+ KB
None

In [16]:
print(data.corr())

           mpg       cyl      disp        hp      drat        wt      qsec  \
mpg   1.000000 -0.460227 -0.847551 -0.776168  0.681172 -0.867659  0.013668
cyl  -0.460227  1.000000  0.544876  0.323293 -0.372671  0.533690 -0.012755
disp -0.847551  0.544876  1.000000  0.790949 -0.710214  0.887980  0.181810
hp   -0.776168  0.323293  0.790949  1.000000 -0.448759  0.658748  0.010807
drat  0.681172 -0.372671 -0.710214 -0.448759  1.000000 -0.712441 -0.120283
wt   -0.867659  0.533690  0.887980  0.658748 -0.712441  1.000000  0.093900
qsec  0.013668 -0.012755  0.181810  0.010807 -0.120283  0.093900  1.000000
vs    0.664039 -0.323960 -0.710416 -0.723097  0.440278 -0.554916 -0.112146
carb -0.550925  0.239980  0.394977  0.749812 -0.090790  0.427606 -0.120312

            vs      carb
mpg   0.664039 -0.550925
cyl  -0.323960  0.239980
disp -0.710416  0.394977
hp   -0.723097  0.749812
drat  0.440278 -0.090790
wt   -0.554916  0.427606
qsec -0.112146 -0.120312
vs    1.000000 -0.569607
carb -0.569607  1.000000

In [17]:
X = data.drop(columns='mpg')
Y = data['mpg']

In [20]:
print(X.head())

          Unnamed: 0  cyl   disp   hp  drat     wt   qsec  vs      am gear  \
0          Mazda RX4  6.0  160.0  110  3.90  2.620  16.46   0  manual    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  2.875  17.02   0  manual    4
2         Datsun 710  4.0  108.0   93  3.85  2.320  18.61   1  manual    4
3     Hornet 4 Drive  6.0  258.0  110  3.08  3.215   0.10   1    auto    3
4  Hornet Sportabout  8.0  360.0  175  3.15  3.440  17.02   0    auto    3

   carb
0     4
1     4
2     1
3     1
4     2

In [21]:
print(X.columns)

Index(['Unnamed: 0', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

In [22]:
print(Y.head())

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

In [23]:
print(X.head())

          Unnamed: 0  cyl   disp   hp  drat     wt   qsec  vs      am gear  \
0          Mazda RX4  6.0  160.0  110  3.90  2.620  16.46   0  manual    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  2.875  17.02   0  manual    4
2         Datsun 710  4.0  108.0   93  3.85  2.320  18.61   1  manual    4
3     Hornet 4 Drive  6.0  258.0  110  3.08  3.215   0.10   1    auto    3
4  Hornet Sportabout  8.0  360.0  175  3.15  3.440  17.02   0    auto    3

   carb
0     4
1     4
2     1
3     1
4     2

In [24]:
X = X.iloc[:, 1:]

In [25]:
print(X.head())

   cyl   disp   hp  drat     wt   qsec  vs      am gear  carb
0  6.0  160.0  110  3.90  2.620  16.46   0  manual    4     4
1  6.0  160.0  110  3.90  2.875  17.02   0  manual    4     4
2  4.0  108.0   93  3.85  2.320  18.61   1  manual    4     1
3  6.0  258.0  110  3.08  3.215   0.10   1    auto    3     1
4  8.0  360.0  175  3.15  3.440  17.02   0    auto    3     2

In [26]:
X.isnull().head(3)

     cyl   disp     hp   drat     wt   qsec     vs     am   gear   carb
0  False  False  False  False  False  False  False  False  False  False
1  False  False  False  False  False  False  False  False  False  False
2  False  False  False  False  False  False  False  False  False  False

In [27]:
print(X.isnull().sum())

cyl     2
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

In [28]:
X_cyl_mean = X['cyl'].mean()

In [29]:
print(X_cyl_mean)

7.6

In [30]:
X['cyl'] = X['cyl'].fillna(X_cyl_mean)

In [31]:
print(X.isnull().sum())

cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

In [32]:
X_qsec_median = X['qsec'].median()

In [35]:
print(X_qsec_median)

17.6

In [36]:
X['qsec'] = X['qsec'].fillna(X_qsec_median)

In [37]:
print(X['qsec'].isnull().sum())

0

In [38]:
print(X.isnull().sum())

cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

In [39]:
print(X['gear'].unique())

['4' '3' '*3' '5' '*5']

In [40]:
print(X['gear'].replace('*3', '3').replace('*5', '5'))

0     4
1     4
2     4
3     3
4     3
5     3
6     3
7     4
8     4
9     4
10    4
11    3
12    3
13    3
14    3
15    3
16    3
17    4
18    4
19    4
20    3
21    3
22    3
23    3
24    3
25    4
26    5
27    5
28    5
29    5
30    5
31    4
Name: gear, dtype: object

In [41]:
X['gear'] = X['gear'].replace('*3', '3').replace('*5', '5')

In [42]:
print(X['gear'].unique())

['4' '3' '5']

In [43]:
X_describe = X.describe()

In [44]:
print(X_describe)

             cyl        disp          hp       drat         wt        qsec  \
count  32.000000   32.000000   32.000000  32.000000  32.000000   32.000000
mean    7.600000  230.721875  146.687500   3.596563   3.217250   19.795938
std     7.925459  123.938694   68.562868   0.534679   0.978457   15.066831
min     4.000000   71.100000   52.000000   2.760000   1.513000    0.100000
25%     4.000000  120.825000   96.500000   3.080000   2.581250   16.827500
50%     6.000000  196.300000  123.000000   3.695000   3.325000   17.600000
75%     8.000000  326.000000  180.000000   3.920000   3.610000   18.682500
max    50.000000  472.000000  335.000000   4.930000   5.424000  100.000000

              vs     carb
count  32.000000  32.0000
mean    0.437500   2.8125
std     0.504016   1.6152
min     0.000000   1.0000
25%     0.000000   2.0000
50%     0.000000   2.0000
75%     1.000000   4.0000
max     1.000000   8.0000

In [48]:
print(X_describe.loc['75%'], X_describe.loc['25%'])

cyl       8.0000
disp    326.0000
hp      180.0000
drat      3.9200
wt        3.6100
qsec     18.6825
vs        1.0000
carb      4.0000
Name: 75%, dtype: float64 cyl       4.00000
disp    120.82500
hp       96.50000
drat      3.08000
wt        2.58125
qsec     16.82750
vs        0.00000
carb      2.00000
Name: 25%, dtype: float64

In [46]:
X_iqr = X_describe.loc['75%'] - X_describe.loc['25%']

In [47]:
print(X_iqr)

cyl       4.00000
disp    205.17500
hp       83.50000
drat      0.84000
wt        1.02875
qsec      1.85500
vs        1.00000
carb      2.00000
dtype: float64

In [49]:
print(X_describe.loc['75%'] + (1.5 * X_iqr))

cyl      14.000000
disp    633.762500
hp      305.250000
drat      5.180000
wt        5.153125
qsec     21.465000
vs        2.500000
carb      7.000000
dtype: float64

In [50]:
print(X_describe.loc['max'])

cyl      50.000
disp    472.000
hp      335.000
drat      4.930
wt        5.424
qsec    100.000
vs        1.000
carb      8.000
Name: max, dtype: float64

In [55]:
print(X.loc[X['cyl'] > 14])

     cyl   disp   hp  drat    wt   qsec  vs    am gear  carb
14  50.0  472.0  205  2.93  5.25  17.98   0  auto    3     4

In [57]:
X.loc[14, 'cyl'] = 14

In [58]:
X.loc[14, 'cyl']

14.0

In [59]:
print(X.loc[X['hp'] > 305.25])

    cyl   disp   hp  drat    wt  qsec  vs      am gear  carb
30  8.0  301.0  335  3.54  3.57  14.6   0  manual    5     8

In [60]:
X.loc[30, 'hp'] = 305.25

In [61]:
print(X.loc[30, 'hp'])

305.25

In [63]:
print(X_describe.loc['25%'] - (X_iqr * 1.5))

cyl      -2.000000
disp   -186.937500
hp      -28.750000
drat      1.820000
wt        1.038125
qsec     14.045000
vs       -1.500000
carb     -1.000000
dtype: float64

In [65]:
print(X_describe.loc['min'])

cyl      4.000
disp    71.100
hp      52.000
drat     2.760
wt       1.513
qsec     0.100
vs       0.000
carb     1.000
Name: min, dtype: float64

In [66]:
def outlier(data, column) :
    mean = data[column].mean()
    std = data[column].std()
    lowest = mean - (std * 1.5)
    highest = mean + (std * 1.5)
    print('최소 경계값 : ', lowest, ' 최대 경계값 : ', highest)
    outlier_index = data[column][(data[column] < lowest) | (data[column] > highest)].index
    
    return outlier_index

In [71]:
print(outlier(X, 'qsec'))

최소 경계값 :  9.426825285276855  최대 경계값 :  26.564799714723144
Int64Index([3, 24], dtype='int64')

In [68]:
print(X.loc[24, 'qsec'])

100.0

In [69]:
X.loc[24, 'qsec'] = 42.396

In [70]:
print(X.loc[24, 'qsec'])

42.396

In [72]:
print(outlier(X, 'carb'))

최소 경계값 :  0.3897000335522218  최대 경계값 :  5.235299966447778
Int64Index([29, 30], dtype='int64')

In [73]:
print(X.loc[[29,30], 'carb'])

29    6
30    8
Name: carb, dtype: int64

In [74]:
X.loc[[29,30], 'carb'] = 5.235

In [76]:
print(X.loc[[29,30], 'carb'])

29    5.235
30    5.235
Name: carb, dtype: float64